
@font-face {
    font-family: ModernDOS;
    src: url(/Font/ModernDOS9x16.ttf);
  }
  
body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #D5D4D9;
    color: #0C1010;
}

h1 {
    font-family: ModernDOS, sans-serif;
    text-transform: uppercase;
    font-size: 8em;
    font-weight: normal;
    color: #D5D4D9;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #284356;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    color: #8C0E0F;
    text-align: center;
}

p, ul {
    color: #0C1010;
    text-align: center;
    line-height: 1.6;
}

/* Header Section */
header {
    background-color: #284356;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

header h1 {
    margin: 0 0 20px;
}

header p {
    font-size: 1.2em;
    color: #ccc;
}

header a {
    background-color: #8C0E0F;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
}

/* About Section */
#about {
    background-color: #D5D4D9;
    padding: 50px 0;
}

#about p {
    max-width: 800px;
    margin: 0 auto;
}

/* Services Section */
#services {
    background-color: white;
    padding: 50px 0;
}

#services ul {
    list-style-type: none;
    padding: 0;
}

#services ul li {
    margin: 15px 0;
    text-align: left;
}

/* Contact Section */
#contact {
    background-color: #0C1010;
    color: white;
    padding: 50px 0;
    text-align: center;
}

#contact a {
    background-color: #8C0E0F;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
}
